@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
     margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url(https://images.unsplash.com/photo-1681518628446-8cbd07d134f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc((100vh + 70px));
    z-index: -1;
    filter: blur(0px)
}

.loading-text {
    font-size: 50px;
    color: #fff;
}